<template>
  <div class="inner-form-box">
    <v-img
        class="imageSize mx-auto"
        alt="profile avatar"
        :src="avatarPath"
    >
    </v-img>
    <v-form
      novalidate
      @submit.prevent="sendAvatar"
    >
      <v-select
        v-model="selectedTop"
        :items="Top"
        label="Top"
        outlined
        solo
        shapped
        required
      >
      </v-select>
      <v-select
          v-model="selectedAccessories"
          :items="Accessories"
          label="Accessories"
          outlined
          solo
          shapped
          required
      >
      </v-select>
      <v-select
          v-model="selectedHairColor"
          :items="HairColor"
          label="HairColor"
          outlined
          solo
          shapped
          required
      >
      </v-select>
      <v-select
          v-model="selectedFacialHair"
          :items="FacialHair"
          label="FacialHair"
          outlined
          solo
          shapped
          required
      >
      </v-select>
      <v-select
          v-model="selectedFacialHairColor"
          :items="FacialHairColor"
          label="FacialHairColor"
          outlined
          solo
          shapped
          required
      >
      </v-select>
      <v-select
          v-model="selectedClothes"
          :items="Clothes"
          label="Clothes"
          outlined
          solo
          shapped
          required
      >
      </v-select>
      <v-select
          v-model="selectedFabricColor"
          :items="ColorFabric"
          label="ColorFabric"
          outlined
          solo
          shapped
          required
      >
      </v-select>
      <v-select
          v-model="selectedEyes"
          :items="Eyes"
          label="Eyes"
          outlined
          solo
          shapped
          required
      >
      </v-select>
      <v-select
          v-model="selectedEyebrow"
          :items="Eyebrow"
          label="Eyebrow"
          outlined
          solo
          shapped
          required
      >
      </v-select>
      <v-select
          v-model="selectedMouth"
          :items="Mouth"
          label="Mouth"
          outlined
          solo
          shapped
          required
      >
      </v-select>
      <v-select
          v-model="selectedSkin"
          :items="Skin"
          label="Skin"
          outlined
          solo
          shapped
          required
      >
      </v-select>
      <v-btn class="mr-4" type="submit">
        submit
      </v-btn>
      <v-btn class="mr-4" @click="clear">
        clear
      </v-btn>
      <v-btn>
        <router-link class="linkStyle mr-4" to="/profile">
          back
        </router-link>
      </v-btn>

    </v-form>
  </div>
</template>

<script>
export default {
  name: "AvatarEdit.vue",
  data: ()=> ({
    Top: ["NoHair", "Eyepatch", "Hat", "Hijab", "Turban", "WinterHat1", "WinterHat2", "WinterHat3", "WinterHat4", "LongHairBigHair", "LongHairBob",
          "LongHairBun", "LongHairCurly", "LongHairCurvy", "LongHairDreads", "LongHairFrida", "LongHairFro", "LongHairFroBand", "LongHairNotTooLong",
          "LongHairShavedSides", "LongHairMiaWallace", "LongHairStraight", "LongHairStraight2", "LongHairStraightStrand", "ShortHairDreads01",
          "ShortHairDreads02", "ShortHairFrizzle", "ShortHairShaggyMullet", "ShortHairShortMullet", "ShortHairShortCurly", "ShortHairShortFlat",
          "ShortHairShortRound", "ShortHairShortWaved", "ShortHairSides", "ShortHairTheCaesar", "ShortHairTheCaesarSidePart"],
    Accessories: ["Blank", "Kurt", "Prescription01", "Prescription02", "Round", "Sunglasses", "Wayfarers"],
    HairColor: ["Auburn", "Black", "Blonde", "BlondeGolden", "Brown", "BrownDark", "PastelPink", "Blue", "Platinum", "Red", "SilverGray"],
    FacialHair: ["Blank", "BeardMedium", "BeardLight", "BeardMajestic", "MoustacheFancy", "MoustacheMagnum"],
    FacialHairColor: ["Auburn", "Black", "Blonde", "BlondeGolden", "Brown", "BrownDark", "Platinum", "Red"],
    Clothes: ["BlazerShirt", "BlazerSweater", "CollarSweater", "GraphicShirt", "Hoodie", "Overall", "ShirtCrewNeck", "ShirtScoopNeck", "ShirtVNeck"],
    ColorFabric: ["Black", "Blue01", "Blue02", "Blue03", "Gray01", "Gray02", "Heather", "PastelBlue", "PastelGreen",
                  "PastelOrange", "PastelRed", "PastelYellow", "Pink", "Red", "White"],
    Eyes: ["Close", "Cry", "Default", "Dizzy", "EyeRoll", "Happy", "Hearts", "Side", "Squint", "Surprised", "Wink", "WinkWacky"],
    Eyebrow: ["Angry", "AngryNatural", "Default", "DefaultNatural", "FlatNatural", "RaisedExcited", "RaisedExcitedNatural", "SadConcerned", "SadConcernedNatural",
              "UnibrowNatural", "UpDown", "UpDownNatural"],
    Mouth: ["Concerned", "Default", "Disbelief", "Eating", "Grimace", "Sad", "ScreamOpen", "Serious", "Smile", "Tongue", "Twinkle", "Vomit"],
    Skin:["Tanned", "Yellow", "Pale", "Light", "Brown", "DarkBrown", "Black"],


    selectedTop: '',
    selectedAccessories: '',
    selectedHairColor: '',
    selectedFacialHair: '',
    selectedFacialHairColor: '',
    selectedClothes: '',
    selectedFabricColor: '',
    selectedEyes: '',
    selectedEyebrow: '',
    selectedMouth: '',
    selectedSkin: '',

    avatarEditProgress: false,
    hasFailed: false

  }),
  methods: {
    async sendAvatar() {
      this.avatarEditProgress = true
      try {
        await this.$store.dispatch("editAvatar", {
          climberId: this.$store.state.climber.climberId,
          avatarPath: this.avatarPath
        })
        await this.$router.push("/profile");
      } catch (err) {
        if (err.response && err.response.status === 401) {
          this.hasFailed = true;
          /* from backend comes 409 but receive 401 */
          this.registrationError = "Email already exists";
        } else if (err.response && err.response.status === 500) {
          this.hasFailed = true;
          this.registrationError = "The server is down!";
        } else {
          this.hasFailed = true;
          this.registrationError = "An unknown error occurred";
        }
      } finally {
        this.avatarEditProgress = false
      }


    },
    clear() {
      this.selectedTop = '',
      this.selectedAccessories = '',
      this.selectedHairColor = '',
      this.selectedFacialHair = '',
      this.selectedFacialHairColor = '',
      this.selectedClothes = '',
      this.selectedFabricColor = '',
      this.selectedEyes = '',
      this.selectedEyebrow = '',
      this.selectedMouth = '',
      this.selectedSkin = '',
      this.hasFailed = false
    }
  },
  computed: {
    avatarPath() { return `https://avataaars.io/?avatarStyle=Circle&topType=${this.selectedTop}&`+
        `accessoriesType=${this.selectedAccessories}&hairColor=${this.selectedHairColor}&`+
        `facialHairType=${this.selectedFacialHair}&facialHairColor=${this.selectedFacialHairColor}&`+
        `clotheType=${this.selectedClothes}&clotheColor=${this.selectedFabricColor}&`+
        `eyeType=${this.selectedEyes}&eyebrowType=${this.selectedEyebrow}&`+
        `mouthType=${this.selectedMouth}&skinColor=${this.selectedSkin}`;
    }
  }
}
</script>

<style scoped>
.inner-form-box {
  padding: 12px;
  margin: auto;
  border-radius: 25px;
  background: rgba(238,238,238,0.7);
}
.linkStyle {
  color: #504e4e;
  text-decoration: none;
}

</style>