<template>
        <v-list class="d-flex no-box-shadow small-border">
          <v-list-item>
            {{ cragName }}
          </v-list-item>
          <v-list-item class="d-flex justify-end">
            <v-btn
              class="hover-turquoise noBackgroundcolor mx-1"
              @click="selectCragName(cragName)"
              v-model="cragName"
              ><img class="IconSettings" src="../assets/thermostat.svg" />
            </v-btn>
            <v-btn
              class="hover-green noBackgroundcolor"
              @click="selectCrag(cragId)"
              v-model="cragId"
            >
              <img class="IconSettings" src="../assets/map.svg" />
            </v-btn>
          </v-list-item>
        </v-list>
</template>

<script>
export default {
  name: "CragList",
  props: {
    cragId: Number,
    cragName: String,
  },
  methods: {
    async selectCrag(cragId) {
      await this.$store.dispatch("loadCragById", cragId);
      await this.$store.dispatch("loadRoutesByCragId", cragId);
      this.$router.push("/routeOverview");
    },
    async selectCragName(cragName) {
      await this.$store.dispatch("getCragSpecs", cragName);
      this.$router.push("/weather");
    },
  },
  created() {
    this.$store.dispatch("loadCrags");
  },
};
</script>
<style scoped>
.noBackgroundcolor {
  background-color: rgba(255, 255, 255, 0) !important;
}
.hover-green:hover {
  height: 40px;
  background-color: rgb(29, 232, 29) !important;
}
.hover-turquoise:hover {
  height: 40px;
  background-color: rgb(100, 255, 255) !important;
}
.col {
  padding: 5px !important;
}
.IconSettings {
  height: 30px;
  width: 30px;
  color: #6f6c6c;
  filter: brightness(0) saturate(100%) invert(62%) sepia(6%) saturate(106%)
    hue-rotate(314deg) brightness(91%) contrast(86%);
}
.small-border{
border: 1px solid black !important;
}
</style>