<template>
  <div class="inner-form-box">
    <v-form
        novalidate
        @submit.prevent="editClimber"
    >
      <v-btn
        class="mr-4"
        @click="fillData"
      >
        autofill
      </v-btn>
      <!--  -->
      <v-text-field
          v-model="firstname"
          :error-messages="firstnameErrors"
          label="Firstname"
          outlined
          solo
          shapped
          @input="$v.firstname.$touch()"
          @blur="$v.firstname.$touch()"
      >
      </v-text-field>
      <v-text-field
          v-model="lastname"
          :error-messages="lastnameErrors"
          label="Lastname"
          outlined
          solo
          shapped
          @input="$v.lastname.$touch()"
          @blur="$v.lastname.$touch()"
      ></v-text-field>
      <v-select
          v-model="inputGender"
          label="Gender"
          :items="allGenders"
          outlined
          solo
          shapped
      ></v-select>

      <v-menu
          ref="menu"
          v-model="menu"
          :close-on-content-click="false"
          transition="scale-transition"
          offset-y
          min-width="auto"
      >
        <template v-slot:activator="{ on, attrs }" style="width: 300px">
          <v-text-field
              v-model="dateOfBirth"
              label="Date of Birth"
              readonly
              outlined
              solo
              shapped
              v-bind="attrs"
              v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker
            v-model="dateOfBirth"
            :active-picker.sync="activePicker"
            :max="
              new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
                .toISOString()
                .substr(0, 10)
            "
            min="1950-01-01"
            @change="save"
        ></v-date-picker>
      </v-menu>
      <v-text-field
          v-model="email"
          :error-messages="emailErrors"
          label="E-Mail"
          outlined
          solo
          shapped
          @input="$v.email.$touch()"
          @blur="$v.email.$touch()"
      ></v-text-field>
      <v-text-field
          v-model="password"
          label="Password"
          :error-messages="passwordErrors"
          :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
          :type="show ? 'text' : 'password'"
          name="input-10-2"
          hint="At least 8 characters"
          counter
          outlined
          solo
          shapped
          required
          @click:append="show = !show"
          @input="$v.password.$touch()"
          @blur="$v.password.$touch()"
      ></v-text-field>
      <v-text-field
          v-model="newPassword"
          label="New Password"
          :error-messages="newPasswordErrors"
          :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
          :type="show ? 'text' : 'password'"
          name="input-10-3"
          hint="At least 8 characters"
          counter
          outlined
          solo
          shapped
          required
          @click:append="show = !show"
          @input="$v.newPassword.$touch()"
          @blur="$v.newPassword.$touch()"
      ></v-text-field>
      <v-text-field
          v-model="newPasswordRepeat"
          label="Repeat new Password"
          :error-messages="newPasswordRepeatErrors"
          :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
          :type="show ? 'text' : 'password'"
          name="input-10-4"
          hint="At least 8 characters"
          counter
          outlined
          solo
          shapped
          required
          @click:append="show = !show"
          @input="$v.newPasswordRepeat.$touch()"
          @blur="$v.newPasswordRepeat.$touch()"
      ></v-text-field>

      <div class="error">
        <p v-if="validateStatus==='ERROR'">Check your input data</p>
        <p v-if="hasFailed">{{ editError }}</p>
      </div>
      
      <v-btn class="mr-4" type="submit" @click="checkValidation">
        submit
      </v-btn>
      <v-btn class="mr-4" @click="clear">
        clear
      </v-btn>
      <v-btn class="mr-4">
        <router-link class="linkStyle" to="/profile">
          back
        </router-link>
      </v-btn>

    </v-form>
  </div>  
</template>


<script>
import {validationMixin} from 'vuelidate'
import {required, minLength, email, sameAs} from 'vuelidate/lib/validators'

export default {
  name: "Edit",
  data: () => ({
    firstname: null,
    lastname: null,
    inputGender: null,
    dateOfBirth: null,
    email: null,
    password: null,
    newPassword: null,
    newPasswordRepeat: null,

    show: false,
    showRepeat: false,
    activePicker: null,
    menu: false,

    editError: "",
    editInProgress: false,

    validateStatus: "",
    hasFailed: false,
  }),
  watch: {
    menu(val) {
      val && setTimeout(() => (this.activePicker = "YEAR"));
    },
  },

  mixins: [validationMixin],

  validations: {
    firstname: {minNameLength: minLength(2)},
    lastname: {minNameLength: minLength(2)},
    email: {email},
    password: {required, minPasswordLength: minLength(8)},
    newPassword: {minNewPasswordLength: minLength(8)},
    newPasswordRepeat: {sameAsNewPassword: sameAs("newPassword"), minNewPasswordRepeatLength: minLength(8)},
  },

  computed: {
    activeClimber() {
      return this.$store.state.climber;
    },
    allGenders() {
      return this.$store.state.genders;
    },
    firstnameErrors() {
      const errors = []
      if (!this.$v.firstname.$dirty) return errors
      !this.$v.firstname.minNameLength && errors.push('Must be min 2 characters')
      return errors
    },
    lastnameErrors() {
      const errors = []
      if (!this.$v.lastname.$dirty) return errors
      !this.$v.lastname.minNameLength && errors.push('Must be min 2 characters')
      return errors
    },
    emailErrors() {
      const errors = []
      if (!this.$v.email.$dirty) return errors
      !this.$v.email.email && errors.push('Must be valid e-mail')
      return errors
    },
    passwordErrors() {
      const errors = []
      if (!this.$v.password.$dirty) return errors
      !this.$v.password.minPasswordLength && errors.push('Must be min 8 characters')
      !this.$v.password.required && errors.push('Password is required')
      return errors
    },
    newPasswordErrors() {
      const errors = []
      if (!this.$v.newPassword.$dirty) return errors
      !this.$v.newPassword.minNewPasswordLength && errors.push('Must be min 8 characters')
      return errors
    },
    newPasswordRepeatErrors() {
      const errors = []
      if (!this.$v.newPasswordRepeat.$dirty) return errors
      !this.$v.newPasswordRepeat.minNewPasswordRepeatLength && errors.push('Must be min 8 characters')
      !this.$v.newPasswordRepeat.sameAsNewPassword && errors.push("New Password must be identical");
      return errors
    },

  },
  created() {
    this.$store.dispatch("loadGenders");
  },
  methods: {
    checkValidation() {
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.validateStatus='ERROR'
      } else {
        this.validateStatus = ''
      }
    },

    async editClimber() {
      if (this.validateStatus==="") {
        if (this.firstname===null) {
          this.firstname = this.activeClimber.firstname
        }
        if (this.lastname===null) {
          this.lastname = this.activeClimber.lastname
        }
        if (this.inputGender===null) {
          this.inputGender = this.activeClimber.gender
        }
        if (this.dateOfBirth===null) {
          this.dateOfBirth = this.activeClimber.dateOfBirth
        }
        if (this.email===null) {
          this.email = this.activeClimber.email
        }

        try {
          await this.$store.dispatch("editClimber", {
            climberId: this.activeClimber.climberId,
            firstname: this.firstname,
            lastname: this.lastname,
            inputGender: this.inputGender,
            dateOfBirth: this.dateOfBirth,
            email: this.email,
            password: this.password,
            newPassword: this.newPassword,
          });
          await this.$router.push("/profile");
        } catch (err) {
          if (err.response && err.response.status === 409) {
            this.hasFailed = true;
            this.editError = "Email already exists";
          } else if (err.response && err.response.status === 500) {
            console.log(err.response);
            this.hasFailed = true;
            this.editError = "The server is down!";
          } else {
            console.error(err.response);
            this.hasFailed = true;
            this.editError = "An unknown error occurred";
          }
        } finally {
          this.editInProgress = false;
        }
      }
    },
    fillData() {
      this.$v.$reset()
      this.firstname = this.$store.state.climber.firstname;
      this.lastname = this.$store.state.climber.lastname;
      this.inputGender = this.$store.state.climber.gender;
      this.dateOfBirth = this.$store.state.climber.dateOfBirth;
      this.email = this.$store.state.climber.email;
      this.password = null;
      this.newPassword = null;
      this.newPasswordRepeat = null,
      this.hasFailed = false;
      this.validateStatus = "";
    },
    clear() {
      this.$v.$reset()
      this.firstname = null;
      this.lastname = null;
      this.inputGender = null;
      this.dateOfBirth = null;
      this.email = null;
      this.password = null;
      this.newPassword = null;
      this.newPasswordRepeat = null;
      this.hasFailed = false;
      this.validateStatus = '';
    },
    save(date) {
      this.$refs.menu.save(date);
    },
  },
};
</script>

<style scoped>
.inner-form-box {
  padding: 12px;
  margin: auto;
  border-radius: 25px;
  background: rgba(238,238,238,0.7);
}
.linkStyle {
  color: black;
  text-decoration: none;
}
.error {
  color: black;
  background-color: red;
  font-weight: bold;
}
</style>