<template>
    <!-- IF USER JUST NEEDS TO LOGIN -->
    <div class="inner-form-box">
      <v-form novalidate @submit.prevent="performLogin">
        <v-text-field
          v-model="email"
          :error-messages="emailErrors"
          label="E-mail"
          outlined
          solo
          shapped
          required
          @input="$v.email.$touch()"
          @blur="$v.email.$touch()"
        ></v-text-field>
        <v-text-field
          class="noBg"
          v-model="password"
          :error-messages="passwordErrors"
          :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
          :type="show ? 'text' : 'password'"
          name="input-10-1"
          label="Password"
          hint="At least 8 characters"
          counter
          outlined
          solo
          shapped
          required
          @click:append="show = !show"
          @input="$v.password.$touch()"
          @blur="$v.password.$touch()"
        ></v-text-field>
        <v-btn class="mr-4" type="submit" @click="checkValidation">
          login
        </v-btn>
        <v-btn @click="clear">
          clear
        </v-btn>

        <div class="error">
          <p v-if="validateStatus === 'ERROR'">Check e-mail and password</p>
          <p v-if="hasFailed">{{ loginError }}</p>
        </div>

        <button>
          <router-link
            class="linkStyle"
            to="/register"
          >
            Not a User? Register now!
          </router-link>
        </button>
      </v-form>
    </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, minLength, email } from "vuelidate/lib/validators";

export default {
  name: "Login",
  data: () => ({
    show: false,
    email: "",
    password: "",
    hasAcceptedToU: "",

    loginError: "",
    loginInProgress: false,

    validateStatus: "",
    hasFailed: false,
  }),

  mixins: [validationMixin],

  validations: {
    email: { required, email },
    password: { required, minLength: minLength(8) },
  },
  computed: {
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.email && errors.push("Must be valid e-mail");
      !this.$v.email.required && errors.push("E-mail is required");
      return errors;
    },
    passwordErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      !this.$v.password.minLength && errors.push("Must be min 8 characters");
      !this.$v.password.required && errors.push("Password is required");
      return errors;
    },
  },
  methods: {
    checkValidation() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.validateStatus = "ERROR";
      } else {
        this.validateStatus = "";
      }
    },
    async performLogin() {
      this.loginInProgress = true;
      if (this.validateStatus === "")
        try {
          await this.$store.dispatch("login", {
            email: this.email,
            password: this.password,
          });
          /*    if (this.$store.climber.hasAcceptedToU === false) {
          this.hasFailed = true
          this.loginError = 'You have deletet this account!'
        } */
          this.$router.push("/welcomePage");
        } catch (err) {
          if (err.response && err.response.status === 401) {
            this.hasFailed = true;
            this.loginError = "Seems you are not registered!";
          } else if (err.response && err.response.status === 500) {
            this.hasFailed = true;
            this.loginError = "The server is down!";
          } else {
            this.hasFailed = true;
            // this.loginError = 'An unknown error occurred!'
          }
        } finally {
          this.loginInProgress = false;
        }
    },
    clear() {
      this.$v.$reset();
      this.email = "";
      this.password = "";
      this.hasFailed = false;
      this.validateStatus = "";
    },
  },
};
</script>

<style scoped>
.v-icon {
  background: none !important;
}
.inner-form-box {
  padding: 12px;
  margin: auto;
}
.linkStyle {
  color: #504e4e;
  text-decoration: none;
}
.linkStyle:hover {
  color: rgb(0, 135, 0);
}
.error {
  color: black;
  background-color: red;
  font-weight: bold;
}
</style>
