<template>
  <v-container>
    <v-btn @click="performLogout" class="mr-4" type="submit"> Logout </v-btn>
  </v-container>
</template>

<script>
export default {
  name: "Logout",
  data: () => ({
    logoutError: "",
    logoutOutProgress: false,
  }),
  methods: {
    async performLogout() {
      this.logoutOutProgress = true;
      try {
        await this.$store.dispatch("logout");
        this.$router.push("/");
      } catch (err) {
        if (err.response && err.response.status === 400) {
          this.logoutError = "Wrong username or password";
        } else {
          this.logoutError = "An unknown error ocurred";
        }
      } finally {
        this.logoutOutProgress = false;
      }
    },
  },
};
</script>

<style scoped>
</style>