<template>
      <v-row>
          <v-textarea class="area" id="area" no-resize clearable v-model="textfield" autocomplete="text" label="message" @keydown.enter.prevent="checkEmpty(dynamicClimberMessage(), dynamicRouteMessage())">
          </v-textarea>
              <v-menu
                  
                  bottom
                  origin="center"
                  transition="scale-transition"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                  class="mx-auto"
                      rounded
                      dark
                      v-bind="attrs"
                      v-on="on"
                  >
                    Emojis
                  </v-btn>
                </template>

                <v-list>
                  <v-list-item
                      v-for="(item, index) in items"
                      :key="index"
                  >
                    <v-list-item-title @click="importEmoji(index)">{{ item.title }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </v-menu>

              <v-menu
                  transition="slide-x-transition"
                  bottom
                  right
              >
              </v-menu>
      </v-row>
</template>

<script>
export default {
  name:"Message",
  data: () => ({
    routeId:null,
    items:[
      {title:"😀"},
      {title:'🤨'},
      {title:'😮‍💨'},
      {title:'🥴'},
      {title:'🥵'},
      {title:'🥶'},
      {title:'😈'},
      {title:'🥱'},
      {title:'🤡'},
      {title:'😗'},
      {title:'😘'},
      {title:'🤫'},
      {title:'🤐'},
      {title:'😐'},
      {title:'😑'},
      {title:'😒'},
      {title:'😏'},
      {title:'🙄'},
      {title:'😬'},
      {title:'🤠'},
      {title:'😎'},
      {title:'😖'},
      {title:'😫'},
      {title:'😩'},
      {title:'🤏'},
      {title:'🙌'},
      {title:'💪'},
      {title:'🗻'},
      {title:'⛰️'},
      {title:'🏔️'},
      {title:'🗿'},
      {title:'🔥'},
    ],
    textfield:"",
  }),
  computed: {
    message() {
      return this.$store.state.textfield;
    },
    loadClimberSignUps() {
      return this.$store.state.climberSignUps;
    },
  },
  created(){
      this.$store.dispatch("loadAllSignUps");
      this.$store.dispatch("loadLoggedInClimber");
      this.signUps = this.$store.state.signUps;
      this.climber = this.$store.state.climber;
      this.routeId = this.$store.state.routeId;
  },
  methods: {
    //reading the signup id 
    dynamicClimberMessage(){
      for(var i = 0 ; i<this.signUps.length;i++)
      {
        if(this.signUps[i].climber.climberId == this.climber.climberId && this.signUps[i].route.routeId == this.routeId[this.routeId.length-1])
        {
          var signUpId = this.signUps[i].signUpId;
          console.log("climberId: "+signUpId);
          return signUpId;
        }
      }
    },
    //reading the route id 
    dynamicRouteMessage(){
      console.log("CLIMBER : "+this.climber.climberId);
      for(var i = 0 ; i<this.signUps.length;i++)
      {
        console.log("ARRAY: "+this.routeId[i]);
        if(this.signUps[i].climber.climberId == this.climber.climberId && this.signUps[i].route.routeId == this.routeId[this.routeId.length-1])   //644
        {
          var routeId = this.signUps[i].route.routeId
          console.log("routeId: "+routeId);
          return routeId;
        }
      }
    },
    importEmoji: function(index){
      this.textfield+=this.items[index].title
    },
    //Checking if the textarea is empty or not 
    checkEmpty: function(signUp,routeId) { 
      this.$store.dispatch("getOtherComments",routeId);
      this.$store.dispatch("loadCommentsByRoute",routeId);
      console.log("checkEmpty")
      //if the area is empty it will return nothing
      if (this.textfield == "") {
        console.log("empty")
        return;
      }
       //but if the area has some text it will send 
       //to the backend
      else {
        this.$store.dispatch("getOtherComments",routeId);
        this.$store.dispatch("loadCommentsByRoute",routeId)
        console.log("not empty")
        this.$store.dispatch("sendComment", {
          signUp:signUp,
          textfield:this.textfield,
        });
        this.$store.dispatch("getOtherComments",routeId);
        this.$store.dispatch("loadCommentsByRoute",routeId);
        this.textfield=''
      }
    }
  }
}
</script>

<style scoped>
.area
{
background-color: white !important;
max-height: 40px !important;
margin-top: 10% !important;
width: 100% !important;
text-align: center;
}
</style>
