<template>
  <v-bottom-navigation class="align-end align-self-end" color="teal">

    <!-- link to WelcomePage -->

    <v-btn
      ><router-link to="/WelcomePage">
        <span><img class="icon-color" src="../assets/home.svg" /></span>
      </router-link>
    </v-btn>

    <!-- link to Profile -->

    <v-btn>
      <router-link to="/Profile">
        <span><img class="icon-color" src="../assets/profile.svg" /></span>
      </router-link>
    </v-btn> 

    <!-- Burger Menu Button -->

    <v-menu open-on-hover top offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn dark v-bind="attrs" v-on="on">
          <span><img class="icon-color" src="../assets/menu.svg" /></span>
        </v-btn>
      </template>

      <!-- Burger Menu Content / Linksf -->

      <v-list>
        <v-list-item class="flex-column d-block">
          <v-list-item
            ><router-link class="linkStyle" to="/ProjectOverview"
              >Project Overview</router-link
            ></v-list-item
          >
          <v-list-item
            ><router-link class="linkStyle" to="/RouteOverview"
              >Route Overview</router-link
            ></v-list-item
          >
          <v-list-item
            ><router-link class="linkStyle" to="/CragOverview"
              >Crag Overview</router-link
            ></v-list-item
          >

          <v-list-item
            ><router-link class="linkStyle" to="/AboutUs"
              >About Us</router-link
            ></v-list-item
          >
        </v-list-item>
      </v-list>
    </v-menu>

    <!-- Logout Button -->

    <v-btn @click="logout">
      <span><img class="logoutColor" src="../assets/logout.svg" /></span>
    </v-btn>
  </v-bottom-navigation>
</template>


<script>
export default {
  name: "Navbar",
  methods: {
    async logout() {
      await this.$store.dispatch("logout");
      this.$router.push("/");
    },
  },
  data: () => ({}),
};
</script>

<style scoped>
.icon-color {
  /* farbe grau */
  filter: brightness(0) saturate(100%) invert(62%) sepia(6%) saturate(106%)
    hue-rotate(314deg) brightness(91%) contrast(86%);
}
.logoutColor {
  /* farbe rot */
  filter: brightness(0) saturate(100%) invert(18%) sepia(93%) saturate(2443%)
    hue-rotate(348deg) brightness(101%) contrast(87%);
}
.linkStyle {
  color: black;
  text-decoration: none;
}
.linkStyle:hover {
  background-color: lightgrey !important;
}
</style>