<template>
  <v-container v-cloak >
    <div class="textPart">
      <!--Cheking here with if the logged in user-->
      <div class="flex-column d-flex" v-for="(climber, index) in userComments" :key="index">
        <!-- the logged in climber is from now on  at the right site with text--> 
        <v-card-title
          v-if="climber.climber.climberId == activeClimber.climberId"
          class="YouCard align-self-end"
        >
          {{ climber.climber.firstname }} 
          <v-card
            v-if="climber.climber.climberId == activeClimber.climberId"
            class="innerCard"
          >
            {{ commentsByRoute[index].textField }}
          </v-card>
          <!-- other climber who wrote or is writting, will be at the left site with their text -->
          <v-card v-else class="innerCardOther">
            {{ commentsByRoute[index].textField }}
          </v-card>
        </v-card-title>
        <v-card-title v-else class="OtherCard">
          {{ climber.climber.firstname }} {{ climber.comments.dateTime }}
          <v-card
            v-if="climber.climber.climberId == activeClimber.climberId"
            class="innerCard"
          >
            {{ commentsByRoute[index].textField }}
          </v-card>
          <v-card v-else class="innerCardOther">
            {{ commentsByRoute[index].textField }}
          </v-card>
        </v-card-title>
      </div>
    </div>
    <div>
      <MessageSend />
    </div>
  </v-container>
</template>

<script>
import MessageSend from "./MessageSend.vue";
export default {
  data: () => ({
    climber: null,
  }),
  components: {
    MessageSend,
  },
  methods: {
    getCommented() {
      //this.$store.dispatch("getComment");
      this.$store.dispatch("getOtherComments");
    },
  },
  mounted() {
    this.$store.dispatch("getComment");
    this.$store.dispatch("getOtherComments");
    this.comms.push(this.$store.state.otherComments);
  },
  computed: {
    userComments() {
      return this.$store.state.otherComments;
    },
    activeClimber() {
      return this.$store.state.climber;
    },
    commentsByRoute() {
      console.log(this.$store.state.commentsByRoute);
      return this.$store.state.commentsByRoute;
    },
  },
  created() {
    this.$store.dispatch("loadLoggedInClimber");
    this.climber = this.$store.state.climber;
    this.$store.dispatch("loadCommentsByRoute");
    this.commentsByRoute = this.$store.state.commentsByRoute;
  },
};
</script>

<style scoped>
.textPart {
  max-height: 400px !important;
  overflow: auto !important;
}

.textPart::-webkit-scrollbar {
  display: none !important;
}
.v-card {
  margin-top: 10px;
  background-color: rgba(0, 81, 255, 0.289) !important;
  width: 300px;
  height: fit-content;
  padding: 0 !important
}
.YouCard {
  margin-top: 10px;
  background-color: rgba(0, 38, 255, 0.289) !important;
  width: 300px;
  height: fit-content;
  border: 1px solid black;

}
.innerCard {
  background-color: rgb(255, 255, 255) !important;
  width: 300px;
  height: fit-content;
  border-radius: 10px !important;
}
.innerCardOther {
  margin-top: 10px;
  background-color: rgb(255, 255, 255) !important;
  width: 300px;
  height: fit-content;
  border-radius: 10px !important;
}
.OtherCard {
  margin-top: 10px;
  background-color: rgba(251, 251, 251, 0.639) !important;
  width: 300px;
  height: fit-content;
  border: 1px solid black;
}
.textPart[data-v-54c1ae8e] {
  width: 100% !important;
}
@media (min-height: 750px){
  .textPart {
  max-height: 600px !important;
  overflow: auto !important;
}
}
</style>