<template>
  <v-row class="d-block ItemListSettings mx-auto">
    <v-col
      class="routeSettings transparentBackground d-flex align-center pa-0"
      v-for="signs in loadClimberSignUps"
      :key="signs.index"
      :signUpId="signs.signUpId"
      :finishedDateSignUp="signs.finishedDate"
    >
      <!-- Difficulties -->

      <v-card
        class="
          
          noBorder
          noBackgroundcolor
          mx-5
          align-center
          justify-start
          d-flex
          pa-2
          width-10
        "
        outlined
        tile
      >
        {{ signs.route.difficulty }}
      </v-card>

      <!-- Route Names -->

      <v-card
        class="width-60 noBorder noBackgroundcolor justify-center d-flex"
        outlined
        tile
        @click="routeChat(signs.route.routeId)"
      >
        {{ signs.route.routeName }}
      </v-card>
      <v-card class="noBorder noBackgroundcolor justify-center d-flex width-10">

      <v-btn class="noBackgroundcolor settings" @click="showHallOfFame(signs.route.routeId)">
          <img src="../assets/star.svg">
      </v-btn>
      </v-card>

      <!-- Settings Button mit Kalender Menu wenn noch kein Abschlussdatum -->

      <v-card
        class="
          noBorder
          noBackgroundcolor
          d-flex
          justify-end
          align-center
          width-10
          me-5
        "
        outlined
        tile
      >
        <v-menu top offset-y :close-on-content-click="false">
          <template v-slot:activator="{ on, attrs }">
            <v-btn class="v-btn-list" v-bind="attrs" v-on="on">
              <img class="icon-color" src="../assets/settings.svg" />
            </v-btn>
          </template>

          <v-list>
            <v-list-item class="flex-column d-block v-list-item-calender">
              <v-list>
                <v-list-item
                  v-if="signs.finishedDate == null"
                  class="d-flex justify-center"
                >

                  <v-row justify="center">
                    
                    <!-- Kalender -->

                    <v-date-picker
                      v-model="finishedDate"
                      :max="
                        new Date(
                          Date.now() - new Date().getTimezoneOffset() * 60000
                        )
                          .toISOString()
                          .substr(0, 10)
                      "
                      min="1950-01-01"
                    ></v-date-picker> </v-row
                ></v-list-item>

                <!-- ausgewähltes Datum -->

                <v-list-item v-if="signs.finishedDate == null">
                  <v-text-field
                    v-model="finishedDate"
                    label="finishedDate"
                    readonly
                    outlined
                    shapped
                  >
                  </v-text-field>
                </v-list-item>

                <!-- Done Button -->

                <v-list-item
                  class="d-flex justify-center"
                  v-if="signs.finishedDate == null"
                  ><v-btn
                    color="success"
                    @click="setSignUpToDone(signs.signUpId), reloadPage()"
                    >Done</v-btn
                  ></v-list-item
                >
              </v-list>

              <!-- Delete Request für die ausgewählte Route -->

              <v-list-item class="d-flex justify-center"
                ><v-btn
                  color="error"
                  @click="deleteSignUp(signs.signUpId), reloadPage()"
                  >Delete</v-btn
                ></v-list-item
              >
            </v-list-item>
          </v-list>
        </v-menu>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data() {
    return {
      signUpId: null,
      finishedDate: null,
      finishedDateSignUp: null,
      routeId:[],
    };
  },
  name: "ProjectListItem",
  computed: {
    loadClimberSignUps() {
      return this.$store.state.climberSignUps;
    },
  },
  created(){
    this.routeId = this.$store.state.routeId;
  },
  methods: {
    async deleteSignUp(signUpId) {
      await this.$store.dispatch("deleteClimberSignUps", signUpId);
    },

    async setSignUpToDone(signUpId) {
      await this.$store.dispatch("putClimberSignUps", {
        signUpId: signUpId,
        finishedDate: this.finishedDate,
      });
    },
    async showHallOfFame(routeId) {
      await this.$store.dispatch("loadHallOfFame", routeId);
      this.$router.push("/hallOfFame");
    },

    routeChat(routeId) {
      this.routeId.push(routeId);
      this.$store.dispatch("loadCommentsByRoute", routeId);
      this.$store.dispatch("getOtherComments", routeId);
      this.$router.push("/postFeed/"+routeId);
    },
    reloadPage() {
      window.location.reload();
    },
  },
};
</script>

<style scoped>
.ItemListSettings{
  overflow-y: scroll;
  max-height: 100%;
}
.routeSettings {
  border: 1px solid black;
  margin-top: 10px;
  min-height: 60px;
}
.noBorder {
  border: none !important;
}
.noBackgroundcolor {
  background-color: rgba(255, 255, 255, 0) !important;
}
.transparentBackground {
  background-color: rgba(255, 255, 255, 0.6) !important;
}
.settings {
  height: 30px;
  width: 30px;
  color: #6f6c6c;
  filter: brightness(0) saturate(100%) invert(62%) sepia(6%) saturate(106%)
    hue-rotate(314deg) brightness(91%) contrast(86%);
}
.icon-color {
  filter: brightness(0) saturate(100%) invert(62%) sepia(6%) saturate(106%)
    hue-rotate(314deg) brightness(91%) contrast(86%);
}
.v-btn-list {
  background-color: transparent !important;
  box-shadow: none !important;
}
.v-list-item-calender {
  padding: 0 !important;
}
.v-list-item {
  padding: 0 5px !important;
}
.v-list {
  padding: 0 !important;
}
.v-sheet.v-card:not(.v-sheet--outlined) {
  box-shadow: none !important;
}
.v-btn--is-elevated {
  box-shadow: none !important;
}
.width-10{
  width: 10%;
}
.width-20{
  width: 20%;
}
.width-60{
  width: 60%;
}
.v-btn:not(.v-btn--round).v-size--default {
  min-width: 0 !important;
  padding: 0 !important;
}
.row{
  margin: 0 !important;
  overflow-y: auto;
}


</style>