<template>

<!-- Liste für Items -->

  <v-row class="noPadding ma-2 align-self-start height-settings">
      <v-card class="noBackgroundcolor full-width height-settings" block tile>
        <ProjectListItem />
      </v-card>
  </v-row>
</template>

<script>
export default {
  name: "ProjectList",
  components: {
    ProjectListItem,
  },
  computed: {
    loadClimberSignUps() {
      return this.$store.state.climberSignUps;
    },
    activeClimber() {
      return this.$store.state.climber;
    },
  },
};
import ProjectListItem from "../components/ProjectListItem.vue";
</script>

<style scoped>
.noBackgroundcolor {
  background-color: rgba(255, 255, 255, 0) !important;
 
}
.noPadding {
  padding: 0 !important;
}
.full-width {
  width: 100% !important;
}
.overflow-height {
  max-height: 70% !important;
}
.v-card > :last-child:not(.v-btn):not(.v-chip):not(.v-avatar) {
  background-color: rgba(255, 255, 255, 0) !important;
}
@media (min-width: 1904px){
  .container{
    width: 100%
    }
}
.height-settings{
 max-height: 55% !important;
}
.v-card{
  box-shadow: none !important;
}
</style>