<template>
    <!-- IF USER NEEDS TO REGISTER -->
    <div class="inner-form-box">
      <v-form novalidate @submit.prevent="performRegister">
        <v-text-field
          v-model="firstname"
          :error-messages="firstnameErrors"
          label="Firstname"
          outlined
          solo
          shapped
          required
          @input="$v.firstname.$touch()"
          @blur="$v.firstname.$touch()"
        ></v-text-field>
        <v-text-field
          v-model="lastname"
          :error-messages="lastnameErrors"
          label="Lastname"
          outlined
          solo
          shapped
          required
          @input="$v.lastname.$touch()"
          @blur="$v.lastname.$touch()"
        ></v-text-field>

        <v-select
          v-model="inputGender"
          :error-messages="genderErrors"
          :items="allGenders"
          label="Gender"
          outlined
          solo
          shapped
          required
          @change="$v.inputGender.$touch()"
          @blur="$v.inputGender.$touch()"
        ></v-select>
        <!--        <div>Active picker: <code>{{ activePicker || 'null' }}</code></div>-->
        <v-menu
          ref="menu"
          v-model="menu"
          :close-on-content-click="false"
          transition="scale-transition"
          offset-y
          min-width="auto"
        >
          <template v-slot:activator="{ on, attrs }" style="width: 300px">
            <v-text-field
              v-model="dateOfBirth"
              :error-messages="dateErrors"
              label="Birthday date"
              readonly
              outlined
              solo
              shapped
              required
              v-bind="attrs"
              v-on="on"
              @change="$v.dateOfBirth.$touch()"
              @blur="$v.dateOfBirth.$touch()"
            ></v-text-field>
          </template>
          <v-date-picker
            v-model="dateOfBirth"
            :active-picker.sync="activePicker"
            :max="
              new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
                .toISOString()
                .substr(0, 10)
            "
            min="1950-01-01"
            @change="save"
          ></v-date-picker>
        </v-menu>
        <v-text-field
          v-model="email"
          :error-messages="emailErrors"
          label="E-mail"
          outlined
          solo
          shapped
          required
          @input="$v.email.$touch()"
          @blur="$v.email.$touch()"
        ></v-text-field>
        <v-text-field
          v-model="password"
          :error-messages="passwordErrors"
          :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
          :type="show ? 'text' : 'password'"
          name="input-10-2"
          label="Password"
          hint="At least 8 characters"
          counter
          outlined
          solo
          shapped
          required
          @click:append="show = !show"
          @input="$v.password.$touch()"
          @blur="$v.password.$touch()"
        ></v-text-field>
        <v-text-field
          v-model="passwordRepeat"
          :error-messages="passwordRepeatErrors"
          :append-icon="showRepeat ? 'mdi-eye' : 'mdi-eye-off'"
          :type="showRepeat ? 'text' : 'password'"
          name="input-10-3"
          label="Password"
          hint="At least 8 characters"
          counter
          outlined
          solo
          shapped
          required
          @click:append="showRepeat = !showRepeat"
          @input="$v.passwordRepeat.$touch()"
          @blur="$v.passwordRepeat.$touch()"
        ></v-text-field>
        <v-checkbox
          v-model="hasAcceptedToU"
          :error-messages="hasAcceptedToUErrors"
          label="I do accept the terms of use"
          @change="$v.hasAcceptedToU.$touch()"
          @blur="$v.hasAcceptedToU.$touch()"
        ></v-checkbox>

        <v-btn class="mr-4" type="submit" @click="checkValidation">
          register
        </v-btn>
        <v-btn @click="clear">
          clear
        </v-btn>

        <div class="error">
          <p v-if="validateStatus === 'ERROR'">Check your input data</p>
          <p v-if="hasFailed">{{ registrationError }}</p>
        </div>

        <button>
          <router-link
            class="linkStyle"
            to="/login"
          >
            Already registered? Log in!
          </router-link>
        </button>
      </v-form>
    </div>

</template>


<script>
import { validationMixin } from "vuelidate";
import { required, minLength, email, sameAs } from "vuelidate/lib/validators";

export default {
  name: "Register",
  data: () => ({
    firstname: "",
    lastname: "",
    inputGender: null,
    dateOfBirth: "",
    email: "",
    password: "",
    passwordRepeat: "",
    hasAcceptedToU: false,

    show: false,
    showRepeat: false,
    activePicker: null,
    menu: false,

    registrationError: "",
    registerInProgress: false,

    validateStatus: "",
    hasFailed: false,
  }),
  watch: {
    menu(val) {
      val && setTimeout(() => (this.activePicker = "YEAR"));
    },
  },
  mixins: [validationMixin],

  validations: {
    firstname: { required, minNameLength: minLength(2) },
    lastname: { required, minNameLength: minLength(2) },
    inputGender: { required },
    dateOfBirth: { required },
    email: { required, email },
    password: { required, minPasswordLength: minLength(8) },
    passwordRepeat: {
      required,
      minPasswordLength: minLength(8),
      sameAsPassword: sameAs("password"),
    },
    hasAcceptedToU: { sameAsTrue: sameAs(() => true) },
  },
  computed: {
    allGenders() {
      return this.$store.state.genders;
    },
    firstnameErrors() {
      const errors = [];
      if (!this.$v.firstname.$dirty) return errors;
      !this.$v.firstname.minNameLength &&
        errors.push("Must be min 2 characters");
      !this.$v.firstname.required && errors.push("Firstname is required");
      return errors;
    },
    lastnameErrors() {
      const errors = [];
      if (!this.$v.lastname.$dirty) return errors;
      !this.$v.lastname.minNameLength &&
        errors.push("Must be min 2 characters");
      !this.$v.lastname.required && errors.push("Lastname is required");
      return errors;
    },
    genderErrors() {
      const errors = [];
      if (!this.$v.inputGender.$dirty) return errors;
      !this.$v.inputGender.required && errors.push("Gender is required");
      return errors;
    },
    dateErrors() {
      const errors = [];
      if (!this.$v.dateOfBirth.$dirty) return errors;
      !this.$v.dateOfBirth.required && errors.push("Date of birth is required");
      return errors;
    },
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.email && errors.push("Must be valid e-mail");
      !this.$v.email.required && errors.push("E-mail is required");
      return errors;
    },
    passwordErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      !this.$v.password.minPasswordLength &&
        errors.push("Must be min 8 characters");
      !this.$v.password.required && errors.push("Password is required");
      return errors;
    },
    passwordRepeatErrors() {
      const errors = [];
      if (!this.$v.passwordRepeat.$dirty) return errors;
      !this.$v.passwordRepeat.minPasswordLength &&
        errors.push("Must be min 8 characters");
      !this.$v.passwordRepeat.required && errors.push("Password is required");
      !this.$v.passwordRepeat.sameAsPassword &&
        errors.push("Password must be identical");
      return errors;
    },
    hasAcceptedToUErrors() {
      const errors = [];
      if (!this.$v.hasAcceptedToU.$dirty) return errors;
      !this.$v.hasAcceptedToU.sameAsTrue &&
        errors.push("You must agree to terms of use");
      return errors;
    },
  },
  created() {
    this.$store.dispatch("loadGenders");
    this.genders = this.$store.state.genders;
  },
  methods: {
    checkValidation() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        this.validateStatus = "ERROR";
      } else {
        this.validateStatus = "";
      }
    },
    async performRegister() {
      if (this.validateStatus === "") {
        this.registerInProgress = true;
        try {
          await this.$store.dispatch("register", {
            firstname: this.firstname,
            lastname: this.lastname,
            inputGender: this.inputGender,
            dateOfBirth: this.dateOfBirth,
            email: this.email,
            password: this.password,
            hasAcceptedToU: this.hasAcceptedToU,
          });
          await this.$router.push("/welcomePage");
        } catch (err) {
          if (err.response && err.response.status === 401) {
            this.hasFailed = true;
            /* from backend comes 409 but receive 401 */
            this.registrationError = "Email already exists";
          } else if (err.response && err.response.status === 500) {
            this.hasFailed = true;
            this.registrationError = "The server is down!";
          } else {
            this.hasFailed = true;
            this.registrationError = "An unknown error occurred";
          }
        } finally {
          this.registerInProgress = false;
        }
      }
    },
    clear() {
      this.$v.$reset();
      this.firstname = "";
      this.lastname = "";
      this.inputGender = null;
      this.dateOfBirth = "";
      this.email = "";
      this.password = "";
      this.passwordRepeat = "";
      this.hasAcceptedToU = false;
      this.hasFailed = false;
      this.validateStatus = "";
    },
    /* this is for the date picker */
    save(date) {
      this.$refs.menu.save(date);
    },
  },
};
</script>

<style scoped>
.inner-form-box {
  padding: 12px;
  margin: auto;
}
.linkStyle {
  color: #504e4e;
  text-decoration: none;
}
.linkStyle:hover {
  color: rgb(0, 135, 0);
}
.error {
  color: black;
  background-color: red;
  font-weight: bold;
}
</style>