<template>
    <v-row
        class="d-flex justify-center noPadding noBoxShadow transparentBackground"
        cols="12"
    >
            <v-col class="d-flex align-center justify-center">
              {{ difficulty }}
            </v-col>
            <v-col class="d-flex align-center justify-center">{{ routeName }}</v-col>
            <v-col class="d-flex align-center justify-center">
              <v-btn
                  class="signedUp hover-btn"
                  v-if="signUpStatus==='your project'"
                  @click="selectSignUp()"
              >
                <img :src="isSignedUpImg" :alt="signUpStatus">
              </v-btn>
              <v-btn
                  class="hasGroup hover-btn"
                  v-else-if="signUpStatus==='join group'"
                  @click="createSignUp()"
              >
                 <img :src="hasProjectImg" :alt="signUpStatus">
              </v-btn>
              <v-btn
                  class="createProject hover-btn"
                  v-else
                  @click="createSignUp()"
              >
                 <img :src="createSignUpImg" :alt="signUpStatus">
              </v-btn>
            </v-col>
    </v-row>
</template>


<script>

export default {
  name: 'RouteList',
  props: {
    routeId: Number,
    routeName: String,
    difficulty: String,
    climberId: Number,
    signUpsByCrag: Array
  },
  methods: {
    async selectSignUp() {
      this.$router.push('/projectOverview')
    },
    async createSignUp() {
      await this.$store.dispatch('addSignUp', {
        climberId: this.$store.state.climber.climberId,
        routeId: this.routeId
      })
      this.$router.push('/projectOverview')
    }
  },
  computed: {
    signUpStatus() {
      let signUpStatus = "create project";

      for (let i in this.signUpsByCrag) {
        if ((this.routeId === this.signUpsByCrag[i].route.routeId) &&
            (this.climberId === this.signUpsByCrag[i].climber.climberId)) {
          return "your project";
        } else if (this.routeId === this.signUpsByCrag[i].route.routeId) {
          signUpStatus = "join group";
        }
      }
      return signUpStatus;
    },
    isSignedUpImg() {
      return require('@/assets/person.svg')
    },
    hasProjectImg() {
      return require('@/assets/group.svg')
    },
    createSignUpImg() {
      return require('@/assets/plus.svg')
    }
  }
}


</script>

<style scoped>
.noBackgroundcolor {
  background-color: rgba(255, 255, 255, 0) !important;
}
.noPadding {
  padding: 0 !important;
}
.full-width {
  width: 100% !important;
}
.overflow-height {
  max-height: 70% !important;
}
.v-card > :last-child:not(.v-btn):not(.v-chip):not(.v-avatar) {
  background-color: rgba(255, 255, 255, 0) !important;
}
.hover-btn:hover {
  height: 40px;
  background-color: rgb(255, 255, 75) !important;
}
.transparentBackground {
  background-color: rgba(255, 255, 255, 0.6) !important;
}
.noBoxShadow{
  box-shadow: none !important;
}
.row {
  margin: 0 !important;
}
.v-btn--is-elevated {
  box-shadow: none !important;
}
/*
.theme--light.v-btn.v-btn--has-bg {
  background-color: none !important;
} */



</style>