<template>
  <v-container class="align-self-start justify-center">
    <v-row class="d-flex justify-center">
      <!-- Searchbar -->

      <v-text-field
        id="txtField"
        class="max-width-50"
        label="Search for routes"
        solo
        v-model="routeName"
        append-icon="search"
        clearable
        @click:append="getRoutesWithName(), clearAllLists(), wptFalse()"
        @click:clear="(scrollerShow = false), clearAllLists(), wptTrue()"
      >
      </v-text-field>

      <!-- Filter Icon -->

      <v-col>
        <v-menu v-model="showMenu" :close-on-content-click="false">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              v-show="filterIcon"
              class="searchbarButtons"
              v-bind="attrs"
              v-on="on"
            >
              <span
                ><img class="iconSetting" src="../assets/filter.svg"
              /></span>
            </v-btn>

            <!-- Button to clean the Lists -->

            <v-btn
              v-show="listCleaner"
              @click="
                (scrollerShow = false),
                  clearAllLists(),
                  (filterIcon = true),
                  (listCleaner = false),
                  wptTrue()
              "
              class="searchbarButtons"
            >
              <span><img class="iconSetting" src="../assets/close.svg" /></span>
            </v-btn>
          </template>

          <!-- Menu Content -->

          <v-list>
            <v-list-item class="flex-column d-block">
              <v-list-item class="d-flex justify-center">
                <v-btn disabled class="searchbarButtons">
                  <span class="grey--text">Filter Your Search</span></v-btn
                >
              </v-list-item>

              <v-list-item class="d-flex justify-center"
                ><v-col class="d-flex" cols="12" sm="12">
                  <v-select
                    v-model="selectedCountryName"
                    :items="countries"
                    item-text="countryName"
                    label="Country"
                    solo
                  ></v-select>
                  <v-btn class="hover-green" @click="filterSearchCountry()">
                    <span><img src="../assets/done.svg" /></span>
                  </v-btn> </v-col
              ></v-list-item>

              <v-list-item class="d-flex justify-center"
                ><v-col class="d-flex" cols="12" sm="12">
                  <v-select
                    v-model="selectedCragType"
                    :items="cragTypes"
                    label="CragType"
                    solo
                  ></v-select>
                  <v-btn class="hover-green" @click="filterSearchCragType()">
                    <span><img src="../assets/done.svg" /></span>
                  </v-btn> </v-col
              ></v-list-item>

              <v-list-item class="d-flex justify-center"
                ><v-col class="d-flex" cols="12" sm="12">
                  <v-select
                    class="align-self-end"
                    v-model="selectedDifficulty"
                    :items="difficulties"
                    label="Difficulty"
                    solo
                  ></v-select>
                  <v-btn class="hover-green" @click="filterSearchDifficulty()">
                    <span><img src="../assets/done.svg" /></span>
                  </v-btn> </v-col
              ></v-list-item>
            </v-list-item>
          </v-list>
        </v-menu>
      </v-col>
    </v-row>

    <!-- Liste mit Routes durch Suchleiste  -->

    <v-row v-show="scrollerShow" class="justify-center"
      ><div class="scroller">
        <v-card
          class="searchbarList"
          v-for="routeByName in routesByName"
          :key="routeByName.routeId"
        >
          <div
            v-if="
              routeByName.difficulty == difficultyLevel ||
              routeByName.crag.cragType == cragType ||
              routeByName.crag.country.countryName == countryName
            "
          >
            <p>
              {{ routeByName.difficulty }} <br />
              {{ routeByName.routeName }}
            </p>
          </div>
          <div
            v-if="difficultyLevel == '' && cragType == '' && countryName == ''"
          >
            <p>
              {{ routeByName.difficulty }} <br />
              {{ routeByName.routeName }}
            </p>
          </div>
        </v-card>
      </div>
    </v-row>

    <!-- Liste von Routes durch Filter -->

    <v-row v-if="routesByCountry !== null" class="justify-center d-flex">
      <p>Found by: {{ selectedCountryName }}</p>
      <div class="scroller">
        <v-card
          class="searchbarList"
          v-for="route in routesByCountry"
          :key="route.routeId"
        >
          <p>
            {{ route.difficulty }} <br />
            {{ route.routeName }}
          </p>
        </v-card>
      </div>
    </v-row>

    <v-row v-if="routesByCragType !== null" class="justify-center d-flex">
      <p>Found by: {{ selectedCragType }}</p>
      <div class="scroller">
        <v-card
          class="searchbarList"
          v-for="route in routesByCragType"
          :key="route.routeId"
        >
          <p>
            {{ route.difficulty }} <br />
            {{ route.routeName }}
          </p>
        </v-card>
      </div>
    </v-row>

    <v-row v-if="routesByDifficulty !== null" class="justify-center d-flex">
      <p class="d-block">Found by: {{ selectedDifficulty }} &emsp;</p>
      <div class="scroller">
        <v-card
          class="searchbarList"
          v-for="route in routesByDifficulty"
          :key="route.routeId"
        >
          <p>
            {{ route.difficulty }} <br />
            {{ route.routeName }}
          </p>
        </v-card>
      </div>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    routeName: "",
    difficultyLevel: "",
    countryName: "",
    cragType: "",
    show: false,
    drawer: false,
    group: null,
    hidded: true,
    hidded2: true,
    hidded3: true,

    filterIcon: true,
    showMenu: false,
    listCleaner: false,
    scrollerShow: false,

    selectedCountryName: "",
    selectedCragType: "",
    selectedDifficulty: "",
  }),
  mounted() {
    this.$store.dispatch("loadRoutes");
    this.$store.dispatch("loadCountries");
    this.$store.dispatch("loadCragTypes");
    this.$store.dispatch("loadDifficulties");
  },
  computed: {
    showWelcomePageText() {
      return this.$store.state.WelcomePageText;
    },

    routes() {
      return this.$store.state.routes;
    },
    routesByName() {
      return this.$store.state.routeName;
    },
    countries() {
      return this.$store.state.countries;
    },

    cragTypes() {
      return this.$store.state.cragTypes;
    },
    difficulties() {
      return this.$store.state.difficulties;
    },
    routesByCountry() {
      return this.$store.state.routesByCountry;
    },
    routesByCragType() {
      return this.$store.state.routesByCragType;
    },
    routesByDifficulty() {
      return this.$store.state.routesByDifficulty;
    },
  },
  methods: {
    resetText() {
      document.getElementById("txtField").value = "";
    },
    closeMenu() {
      this.showMenu = false;
    },
    fetchRoutesByCountryName() {
      this.$store.dispatch("loadRoutesByCountryName", this.selectedCountryName);
    },
    clearRoutesByCountry() {
      (this.selectedCountryName = ""),
        (this.$store.state.routesByCountry = null);
    },
    fetchRoutesByCragType() {
      this.$store.dispatch(
        "loadRoutesByCragType",
        this.selectedCragType.toString()
      );
    },
    clearRoutesByCragType() {
      (this.selectedCragType = ""), (this.$store.state.routesByCragType = null);
    },
    fetchRoutesByDifficulty() {
      this.$store.dispatch(
        "loadRoutesByDifficulty",
        this.selectedDifficulty.toString()
      );
    },
    clearRoutesByDifficulty() {
      (this.selectedDifficulty = ""),
        (this.$store.state.routesByDifficulty = null);
    },

    loadAllRoutes() {
      this.$store.dispatch("loadRoutes");
    },
    getRoutesWithName() {
      this.$store.dispatch("getRoutesWithName", {
        routeName: this.routeName,
      });
      this.scrollerShow = true;
      this.resetText();
    },
    filterDifficulty: function () {
      this.hidded = !this.hidded;
      this.hidded2 = false;
      this.hidded3 = false;
      document.getElementById("country").value = "";
      document.getElementById("crag").value = "";
    },
    filterCountry: function () {
      this.hidded2 = !this.hidded2;
      this.hidded = false;
      this.hidded3 = false;
      document.getElementById("difficulty").value = "";
      document.getElementById("crag").value = "";
    },
    filterCragType: function () {
      this.hidded3 = !this.hidded3;
      this.hidded = false;
      this.hidded2 = false;
      document.getElementById("difficulty").value = "";
      document.getElementById("country").value = "";
    },
    clearAllLists() {
      this.clearRoutesByCountry(),
        this.clearRoutesByCragType(),
        this.clearRoutesByDifficulty();
    },
    filterSearchCountry() {
      this.closeMenu(),
        this.clearRoutesByCragType(),
        this.clearRoutesByDifficulty(),
        this.fetchRoutesByCountryName(),
        (this.scrollerShow = false),
        (this.listCleaner = true),
        (this.filterIcon = false),
        this.wptFalse();
    },
    filterSearchCragType() {
      this.closeMenu(),
        this.clearRoutesByCountry(),
        this.clearRoutesByDifficulty(),
        this.fetchRoutesByCragType(),
        (this.scrollerShow = false),
        (this.listCleaner = true),
        (this.filterIcon = false);
      this.wptFalse();
    },
    filterSearchDifficulty() {
      this.closeMenu(),
        this.clearRoutesByCragType(),
        this.clearRoutesByCountry(),
        this.fetchRoutesByDifficulty(),
        (this.scrollerShow = false),
        (this.listCleaner = true),
        (this.filterIcon = false);
      this.wptFalse();
    },
    wptTrue() {
      this.$store.dispatch("welcomePageTextTrue");
    },
    wptFalse() {
      this.$store.dispatch("welcomePageTextFalse");
    },
  },
  watch: {
    group() {
      this.drawer = false;
    },
  },
};
</script>
<style scoped>
.scroller {
  overflow: auto;
  height: 600px !important;
  width: 90%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
}
.scroller::-webkit-scrollbar {
  display: none !important;
  height: 600px !important;
  width: 90%;
}
.searchbarButtons {
  color: #ffffff;
  height: 50px !important;
  border-radius: 7px !important;
  margin: 0;
  padding: 0;
  background: none !important ;
  box-shadow: none !important;
  filter: invert(100%) sepia(0%) saturate(7427%) hue-rotate(23deg)
    brightness(118%) contrast(118%);
}
h1 {
  /*font: bold; */
  color: black;
  size: 50px;
}
.mainIconDiv {
  margin: 0;
  padding: 0;
  margin: auto;
  padding: 0px 10px;
}
.v-text-field {
  display: inline-block;
  width: 100%;
}
/*Difficulties*/
.v-card > :last-child:not(.v-btn):not(.v-chip):not(.v-avatar) {
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  background: white !important;
}

/*ROUTES*/
.v-card {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  background: white;
  width: 100% !important;
}
.v-text-field input {
  flex: 1 1 auto;
  line-height: 20px;
  padding: 8px 0;
  max-width: 100%;
  min-width: 0;
  width: 100%;
  color: black !important;
}

.theme--light.v-input input {
  color: rgba(0, 0, 0, 0.87) !important;
}
.col {
  padding: 0px !important;
  max-width: 20% !important;
}
button:hover {
  box-shadow: inset 2px 12px 10px rgba(0, 0, 0, 0.09);
}
.max-width-50 {
  max-width: 80% !important;
}
.btn-settings {
  background: none;
}
.iconSetting {
  height: 40px;
}
.v-menu__content {
  left: 12px !important;
  max-width: 94% !important;
}
.hover-red:hover {
  background-color: red !important;
}
.hover-green:hover {
  background-color: rgb(29, 232, 29) !important;
}
.v-btn:not(.v-btn--round).v-size--default {
  height: 48px !important;
}
.v-menu__content[data-v-a8dcc02a] {
  top: 65px !important;
  right: 5px !important;
  max-width: 366px !important;
  left: auto !important;
  transform-origin: right top !important;
}

@media (min-width: 1904px) {
  .v-menu__content[data-v-a8dcc02a] {
    right: 509px !important;
    top: 65px !important;
    left: 1058px !important;
  }
}
@media (max-height: 800px) {
  .scroller {
    height: 550px !important;
  }
}
@media (max-height: 700px) {
  .scroller {
    height: 450px !important;
  }
}
@media (max-height: 600px) {
  .scroller {
    height: 350px !important;
  }
}
</style>