<template>
  <v-container fill-height>
    <div v-for="(crag, index) in cragName" :key="index">
      <v-card id="weatherCard">
        <h1>{{ crag.country.countryName }}<br /></h1>
        <h2>{{ crag.cragName }}</h2>
        <h3>{{ crag.cragType }}</h3>
        <img id="imgScript" :src="link">
        <br />
        <v-btn color="blue" rounded text @click="getWeather(crag.cragName)">
          Get Weather Data
        </v-btn> 
        <v-card>
        <h3 id="errorTitle"> </h3>
        <h3 id="errorsOutput"> </h3>
          <div v-if="typeof weather.main != 'undefined'">
            Name:{{ weather.name }} <br />
            <br />
            <h4>Everything About Temperature:</h4>
            Temperature: &emsp;  &emsp;  &ensp;{{ Math.round(weather.main.temp) }} °C <br> Max temeprature: &ensp;{{
              Math.round(weather.main.temp_max)
            }}°C
           <br>  Min temeprature: &emsp;{{Math.round(weather.main.temp_min) }}°C <br />
            Humidity: &emsp; &emsp; &emsp; &ensp; {{weather.main.humidity}} % <br>
            <h4>Everything About The Weather:</h4>
            Feels like:  &emsp; &emsp; &emsp; &emsp;{{Math.round(weather.main.feels_like)}}°C <br>
            Wind speed: &emsp; &ensp; {{Math.round(weather.wind.speed)}} km/h <br>
            Weather: &emsp; &emsp;  &nbsp;&nbsp;&nbsp;&nbsp;{{ weather.weather[0].main }}
            <hr />
            Description: &nbsp; {{ weather.weather[0].description }}
          </div>
        </v-card>
      </v-card>
    </div>
    <Navbar />
  </v-container>
</template>

<script>
import Navbar from "../components/Navbar.vue";
export default {
  data() {
    return {
      api_key: "6580a026495c0d46fbd451ffc72ef08c", //api key später eingeben
      url_base: "http://api.openweathermap.org/data/2.5/",
      query: "",
      iconLink:"http://openweathermap.org/img/wn",
      weather: {},
      link:""
    };
  },
  components: {
    Navbar,
  },
  computed: {
    cragName() {
      return this.$store.state.cragName;
    },
  },
  methods: {
    getWeather: async function (locName,iconNum) {
      fetch(
        `${this.url_base}weather?q=${locName}&appid=${this.api_key}&units=metric`
      )
        .then((res) => {
            if(res.status == 404 )
            {
                let errTitle = document.getElementById("errorTitle");
                errTitle.innerText=res.status+" "+res.statusText
                errTitle.style.color="white";
                errTitle.style.background="red"
                res="Weather Data Not Found"
                let err = document.getElementById("errorsOutput");
                err.style.color="white";
                err.style.background="red"
                err.style.borderRadius="none";
                return document.getElementById("errorsOutput").innerText=res;
            }
          return res.json();
        })
        .then(this.setResults)
        .then(()=>{
        iconNum=this.weather.weather[0].icon,
        this.link = this.iconLink+"/"+iconNum+"@2x.png"
        return this.link
        });
    },
    setResults(results) {
      this.weather = results;
      console.log(results);
    },
  },
};
</script>

<style scoped>
.v-sheet.v-card {
  border-radius: 18px !important;
  height: 380px !important;
  width: 450px !important;
  padding-top: 50px !important;
}
</style>