<template>

<!-- Begrüßungs Text -->

  <div v-show="(WelcomePageTextState)" class="welcomeText text-align-center">
    <p v-if="time === 'morning'">Good morning, {{ activeClimber.firstname }}</p>
    <p v-else-if="time === 'day'">Good day, {{ activeClimber.firstname }}</p>
    <p v-else-if="time === 'evening'">
      Good evening, {{ activeClimber.firstname }}
    </p>
    <p v-else-if="time === 'night'">
      Good night, {{ activeClimber.firstname }}
    </p>
    <p v-else>Welcome, {{ activeClimber.firstname }}</p>
    
  </div>
</template>

<script>
export default {
  name: "WelcomePageText",
  computed: {
    time() {
      let hour = new Date().getHours();
      if ((hour >= 21 && hour <= 24) || (hour >= 0 && hour <= 4)) {
        return "night";
      } else if (hour >= 5 && hour <= 10) {
        return "morning";
      } else if (hour >= 11 && hour <= 16) {
        return "day";
      } else if (hour >= 17 && hour <= 20) {
        return "evening";
      }
      return "";
    },
    activeClimber() {
      return this.$store.state.climber;
    },
    WelcomePageTextState: {
      // getter
      get: function () {
        return this.$store.state.welcomePageText;
      },
      // setter
      set: function () {
      }
    },
  },
  methods: {
  },
};
</script>

<style scoped>
.welcomeText {
  margin: auto;
  font-weight: bold;
}
@media (min-width: 1904px){
  .welcomeText{
    margin: 0 !important;
    width: 100%;
  }
}
</style>