<template>
  <v-app>
    <div class="backgroundImage" :style="{ 'background-image': 'url(' + imgPath + ')' }">
      <router-view/>
    </div>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  data: () => ({
    windowWidth: null,
  }),
  methods: {
    timingEvent() {
       setInterval(() => {
        return this.windowWidth = window.innerWidth
      }, 500)
    }
  },
  mounted() {
    if (this.$store.state.climber) {
      this.$store.dispatch("loadLoggedInClimber")
    }
  },

 computed: {
    imgPath() {
      let hour = new Date().getHours();
      this.timingEvent();

      if (this.windowWidth < 576) {
        if ((hour >= 21 && hour <= 24) || (hour >= 0 && hour <= 4)) {
          return require('@/assets/background_night.png')
        } else if (hour >= 5 && hour <= 10) {
          return require('@/assets/background_morning.png')
        } else if (hour >= 11 && hour <= 16) {
          return require('@/assets/background_day.png')
        } else if (hour >= 17 && hour <= 20) {
          return require('@/assets/background_evening.png')
        }
      } else if (this.windowWidth >= 576 && this.windowWidth < 1200) {
        if ((hour >= 21 && hour <= 24) || (hour >= 0 && hour <= 4)) {
          return require('@/assets/background_night_full.png')
        } else if (hour >= 5 && hour <= 10) {
          return require('@/assets/background_morning_full.png')
        } else if (hour >= 11 && hour <= 16) {
          return require('@/assets/background_day_full.png')
        } else if (hour >= 17 && hour <= 20) {
          return require('@/assets/background_evening_full.png')
        }
      } else if (this.windowWidth >= 1200) {
        if ((hour >= 21 && hour <= 24) || (hour >= 0 && hour <= 4)) {
          return require('@/assets/background_night_1200.png')
        } else if (hour >= 5 && hour <= 10) {
          return require('@/assets/background_morning_1200.png')
        } else if (hour >= 11 && hour <= 16) {
          return require('@/assets/background_day_1200.png')
        } else if (hour >= 17 && hour <= 20) {
          return require('@/assets/background_evening_1200.png')
        }
      }

      return require('@/assets/background_day_full.png');
    },
    activeClimber() {
      return this.$store.state.climber
    } 
  },
}
</script>

<style>
#app {
  font-family: 'montserrat', sans-serif;
  text-align: center;
  font-weight: 300 !important;
  color: #504e4e;
  overflow: hidden;
}

.backgroundImage {
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

</style>
