<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Manuel Lorenz, Mert Temel, Stefan Kaiser">
    <meta name="copyright" content="Manuel Lorenz, Mert Temel, Stefan Kaiser">
    <meta name="description"
          content="This is a platform that helps climbers connect and climb difficult routes together.">
    <meta name="keywords" content="climbing, climber, project, projecting, crag, route, carpool">
    <title>
        Project Buddy
    </title>
    <link rel="icon" href="<%= BASE_URL %>climbing.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
</head>

<body class="">
<noscript>
</noscript>
<div id="app"></div>
</body>

</html>