<template>
  <v-container fill-height class="justify-center">
    <div class="text-box">
      <h1>Project Buddy</h1>
      <h2>climb together!</h2>
      <h3>About us</h3>

      <p>
        This is a platform that helps climbers connect and climb difficult
        routes together.
      </p>
      <p>
        The authors Manuel Lorenz, Mert Temel and Stefan Kaiser produced this
        Web-Application during a software development apprenticeship supported
        by the Austrian Labor Market Service
      </p>
      <p>special thanks for creating and providing the icon:</p>
      <a
        href="https://www.flaticon.com/free-icons/climber"
        title="climber icons"
        class="linkStyle"
      >
        Climber icons created by Freepik - Flaticon</a
      >
      <p class="footer">
        <span>&#169;</span> 2022 by Manuel Lorenz, Mert Temel, Stefan Kaiser
      </p>
    </div>
    <Navbar />
  </v-container>
</template>

<script>
import Navbar from "../components/Navbar";

export default {
  name: "AboutUs",
  components: { Navbar },
};
</script>

<style scoped>
.text-box {
  margin: auto;
  min-width: 300px;
  border-radius: 25px;
  background: rgba(238, 238, 238, 0.7);
}
.linkStyle {
  padding: 0px;
  color: #504e4e;
  text-decoration: none;
}
.linkStyle:hover {
  color: rgb(0, 135, 0);
}
.footer {
  margin: auto;
  position: fixed;
  left: 0;
  bottom: 70px;
  width: 100%;
  text-align: center;
}
@media (min-width: 1904px){
  .container{
    width: 60%;
  }
}
</style>