<template>
  <v-container
      fill-height
  > 
    <div class="scroll-box">
      <h1> 
        Change your Avatar
      </h1>
      <AvatarEdit />
    </div>
    <Navbar/>
  </v-container>
</template>

<script>
import Navbar from "../components/Navbar";
import AvatarEdit from "../components/AvatarEdit";

export default {
  name: "AvatarEditPage",
  components: { AvatarEdit, Navbar }

}
</script>

<style scoped>
.scroll-box {
  margin: auto;
  max-width: 350px;
  max-height: 90%;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: auto;
}
@media (min-width: 1904px){
  .container {
    width: 60%;
  }
}
</style>