<template>
  <v-container
    fill-height
    class="noBackgroundColor align-center justify-center"
  >
    <v-col cols="12" sm="12">
      <h1 class="align-self-start">Crags</h1>
    </v-col>

    <div class="search-box">
      <v-row class="d-block ma-0">
        <h3>Search by Country</h3>
        <v-col class="d-flex">
          <v-select
            v-model="selectedCountryName"
            :items="countries"
            item-text="countryName"
            label="Country"
            solo
          ></v-select>
          <v-btn class="iconSetting hover-green" @click="fetchCragsByCountryName">
            <span><img src="../assets/done.svg" /></span>
          </v-btn>
          <v-btn class="iconSetting hover-red" @click="clearCragsByCountry">
            <span><img src="../assets/trash.svg" /></span>
          </v-btn>
        </v-col>

        <h3>Search Crags</h3>
        <v-col class="d-flex">
          <v-text-field
            type="text"
            v-model="filterCragName"
            placeholder="filter by crag name"
            outlined
            shapped
            solo
            append-icon="search"
            clearable
            @click:clear="clearFilter"
          ></v-text-field>
        </v-col>
      </v-row>
    </div>  

    <div v-if="!cragsByCountry.length" class="scroll-box">
      
      <v-list v-for="(crag, indexCrag) in filteredCrags" :key="indexCrag">
        <CragList :cragId="crag.cragId" :cragName="crag.cragName" />
      </v-list>
    </div>

    <div v-if="cragsByCountry.length" class="scroll-box">
      <v-list
        v-for="(crag, indexCragsByCountry) in filteredCragsByCountry"
        :key="indexCragsByCountry"
      >
        <CragList :cragId="crag.cragId" :cragName="crag.cragName" />
      </v-list>
    </div>

    <Navbar />
  </v-container>
</template>

<script>
import CragList from "../components/CragList";
import Navbar from "../components/Navbar";

export default {
  name: "CragOverview",
  components: { CragList, Navbar },
  props: {
    msg: String,
  },
  data: () => ({
    filterCragName: "",
    selectedCountryName: "",
  }),
  methods: {
    fetchCragsByCountryName() {
      this.$store.dispatch("loadCragsByCountry", this.selectedCountryName);
    },
    clearCragsByCountry() {
      (this.selectedCountryName = ""), (this.$store.state.cragsByCountry = []);
    },
    clearFilter() {
      this.filterCragName = "";
    },
  },
  created() {
    this.$store.dispatch("loadLoggedInClimber");
    this.$store.dispatch("loadCrags");
    this.$store.dispatch("loadCountries");
  },
  computed: {
    countries() {
      return this.$store.state.countries;
    },
    cragsByCountry() {
      return this.$store.state.cragsByCountry;
    },
    crags() {
      return this.$store.state.crags;
    },
    activeClimber() {
      return this.$store.state.climber;
    },
    filteredCrags() {
      return this.crags.filter((crag) => {
        const cragName = crag.cragName.toLowerCase();
        const searchTerm = (this.filterCragName || "").toLowerCase();

        return cragName.includes(searchTerm);
      });
    },
    filteredCragsByCountry() {
      return this.cragsByCountry.filter((crag) => {
        const cragName = crag.cragName.toLowerCase();
        const searchTerm = (this.filterCragName || "").toLowerCase();

        return cragName.includes(searchTerm);
      });
    },
  },
};
</script>

<style scoped>
.noBackgroundColor {
  background-color: rgba(0, 0, 0, 0) !important;
}
.search-box {
  margin: auto;
}
.scroll-box {
  width: 95%;
  height: 42%;
  margin: auto;
  /* overflow: auto; */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
}
.iconSetting {
  height: 48px !important;
}
.hover-red:hover {
  height: 40px;
  background-color: red !important;
}
.hover-green:hover {
  height: 40px;
  background-color: rgb(29, 232, 29) !important;
}
.theme--light.v-list {
  background-color: rgba(255, 255, 255, 0.6) !important;
  margin-top: 10px;
}
.v-list {
  padding: 0 !important;
}
@media (min-width: 1904px){
  .container{
    width: 60%;
  }
}
.scroll-box::-webkit-scrollbar {
  display: none !important;
}

</style>