<template>
  <v-container
      fill-height
  >
    <div class="scroll-box">
      <h1>
        Change your Data
      </h1>
      <Edit />
    </div>
    <Navbar />
  </v-container>
</template>

<script>
import Edit from "../components/Edit";
import Navbar from "../components/Navbar";

export default {
  name: "EditPage",
  components: { Edit, Navbar },
};
</script>

<style scoped>
.scroll-box {
  margin: auto;
  max-width: 350px;
  max-height: 90%;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: auto;
}
@media (min-width: 1904px){
  .container {
    width: 60%;
  }
}
</style>