<template>
  <v-container fill-height class="d-flex justify-center">
    <v-row class="align-self-start flex-column"
      ><v-col><h1>Hall of Fame</h1></v-col>
       <v-col
        ><h2>{{ hofRouteName }}</h2></v-col
      >
      <v-col
        ><h2>{{ hofRouteDiff }}</h2></v-col
      >
     </v-row
    >
    <v-row class="align-self-end disapear-530"
      ><v-col class="text-bold">Climber</v-col
      ><v-col class="text-bold">Done On:</v-col></v-row
    >
    <v-list
      class="d-flex noBackground align-self-start"
      v-for="finishedSign in signUps"
      :key="finishedSign.index"
    >
      <v-list-item class="min-width-125 borderTopLeftBot transparentBackground">
        {{ finishedSign.climber.firstname }} {{ finishedSign.climber.lastname }}
      </v-list-item>
      <v-list-item
        class="min-width-125 borderTopBotRight transparentBackground"
      >
        {{ finishedSign.finishedDate }}
      </v-list-item>
    </v-list>
    <!--  <v-btn @click="getFinishedSignUpsXD()"></v-btn>  -->
    <navbar />
  </v-container>
</template>

<script>
import Navbar from "../components/Navbar.vue";

export default {
  name: "HallOfFame",
  components: { Navbar },
  props: {
    routeId: Number,
  },
  data() {
    return {
      finishedDateSignUps: false,
      routeIdTaker: null,
    };
  },
  computed: {
    signUps() {
      return this.$store.state.finishedSignUps;
    },
    hofRouteName() {
      return this.$store.state.finishedSignUps[0].route.routeName;
    },
    hofRouteDiff() {
      return this.$store.state.finishedSignUps[0].route.difficulty;
    },
  },

  /*methods: {
    getFinishedSignUpsXD(routeIdTaker) {
      this.$store.dispatch("getFinishedDateList", routeIdTaker);
    },
  },*/
};
</script>

<style scoped>
.transparentBackground {
  background-color: rgba(255, 255, 255, 0.6) !important;
}
.noBackground {
  background-color: rgba(255, 255, 255, 0) !important;
}
.borderTopLeftBot {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
.borderTopBot {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.borderTopBotRight {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
.min-width-125 {
  min-width: 125px;
}
.text-bold {
  font-weight: bold;
}

.row + .row {
  margin: 0 !important;
}
@media (min-width: 1904px){
  .container{
    width: 60%;
  }
}
@media (min-width: 530px){
  .disapear-530{
    display: none;
  }
}
</style>