<template>
  <v-container>
    <div class="content-box">
      <header>
      <h1>Project Buddy</h1>
      <h2>climb together!</h2>
      <h3>Welcome climbers</h3>
    </header>
    <section class="text-box">
      <p>
        This is a platform that helps climbers connect and climb difficult
        routes together.
      </p>
      <p>Let's check it out, register and login</p>
      <v-btn class="hover-green">
        <router-link class="linkStyle" to="/login"> Login </router-link>
      </v-btn>
      <v-btn class="hover-green">
        <router-link class="linkStyle" to="/register"> Register </router-link>
      </v-btn>
    </section>
    <footer class="footer">
       <p>
        <span>&#169;</span> 2022 by Manuel Lorenz, Mert Temel, Stefan Kaiser
      </p>
    </footer>  
    </div>
  </v-container>
</template>

<script>
export default {
  name: "LandingPage",
  components: {},
};
</script>

<style scoped>
.content-box {
  margin: auto;
  max-width: 600px;
  padding: 25px;
  border-radius: 25px;
  background: rgba(238, 238, 238, 0.7);
  
}
h2 {
  margin: 15px;
}
h3 {
  margin: 15px;
}/*
.text-box {
  padding: 25px;
  border-radius: 25px;
  background: rgba(238, 238, 238, 0.7);
}*/
.linkStyle {
  color: #504e4e;
  text-decoration: none;
}
.hover-green {
  height: 40px;
  margin-top: 80px;
  margin-left: 25px;
  margin-right: 25px;
}
.hover-green:hover {
  background-color: rgb(29, 232, 29) !important;
}
.footer {
  margin: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
</style>