<template>
  <v-container>
      <h1>
        <router-link class="linkStyle" to="/">
          Project Buddy
        </router-link>
      </h1>
      <h2>climb together!</h2>
      <h3>Login</h3>
    <div class="login-box">
      <Login />
    </div>
  </v-container>
</template>

<script>
import Login from "../components/Login";

export default {
  name: "LoginPage",
  components: { Login },
};
</script>

<style scoped>
.login-box {
  margin: auto;
  max-width: 350px;
  border-radius: 25px;
  background: rgba(238, 238, 238, 0.7);
}
.linkStyle {
  color: #504e4e;
  text-decoration: none;
}
.linkStyle:hover {
  color: rgb(0, 135, 0);
}
/*@media (min-width: 1904px){
  .container{
    width: 60%;
  }
}*/
</style>