<template>
  <v-container fill-height>
    <PostList />
    <Navbar />
  </v-container>
</template>

<script>
import PostList from "../components/PostList.vue";
import Navbar from "../components/Navbar";
export default {
  name: "PostFeed",
  components: { PostList, Navbar },
};
</script>

<style scoped>
h1,
hr {
  width: 75%;
  margin: auto;
}
@media (min-width: 1904px){
  .container{
    width: 60%;
  }
}
</style>