<template>
  <v-container fill-height class="d-flex justify-center">
    <v-card class="mx-auto">
      <v-img
          v-if="activeClimber.avatarPath !== null"
          class="imageSize mx-auto"
          :src="activeClimber.avatarPath"
      >
      </v-img>
      <h2 v-else>edit your avatar</h2>

      <v-list-item-content class="no-background text-bold max-w-300">
        <v-list-item-title>
          <h1>
            {{ activeClimber.firstname }} {{ activeClimber.lastname }},
            {{ activeClimber.age }}
          </h1>
        </v-list-item-title>
        <v-list-item>Gender: {{ activeClimber.gender }} </v-list-item>
        <v-list-item
          >Date of Birth: {{ activeClimber.dateOfBirth }}</v-list-item
        >
        <v-list-item> E-Mail: {{ activeClimber.email }} </v-list-item>
      </v-list-item-content>
    </v-card>
    <v-row class="align-self-end">
      <v-col class="d-flex">
        <v-btn>
          <router-link to="/avatarEditPage">
            <span>
              <img class="iconSize" src="../assets/account_settings.svg" />
            </span>
          </router-link>
        </v-btn>
        <v-btn>
          <router-link to="/EditPage">
            <span>
              <img class="iconSize" src="../assets/settings.svg" />
            </span>
          </router-link>
        </v-btn>
      </v-col>
      <v-col class="d-flex justify-end">
        <v-btn>
          <img
            @click="deleteClimber(activeClimber.climberId)"
            class="iconSize"
            src="../assets/trash.svg"
          />
        </v-btn>
      </v-col>
    </v-row>
    <!--  <v-card v-if="showEditData" class="mx-auto">
    <Edit /> 
    </v-card>   -->
    <Navbar />
  </v-container>
</template>

<script>
import Navbar from "../components/Navbar.vue";
//import Edit from "../components/Edit.vue";
export default {
  name: "Profile",
  components: { /*Edit,*/ Navbar },
  /*  data: () => ({
    showEditData: false
  }), */
  /* props: {
    firstname: String,
    lastname: String,
    age: Number,
    gender: String,
    dateOfBirth: Date,
    email: String,
  }, */
  methods: {
    async deleteClimber(climberId) {
      await this.$store.dispatch("deleteClimber", climberId);
      this.$router.push("/");
    },
  },
  computed: {
    activeClimber() {
      return this.$store.state.climber;
    },
  },
};
</script>

<style scoped>
.width-100 {
  width: 100% !important;
}
.theme--light.v-sheet {
  background-color: rgba(0, 0, 0, 0) !important;
}
.theme--light.v-card {
  background-color: rgba(0, 0, 0, 0) !important;
}
.v-sheet.v-card:not(.v-sheet--outlined) {
  box-shadow: none !important;
}
.text-bold {
  font-weight: bold;
  text-shadow: 0px 0px 0px 3px black;
}
.imageSize {
  height: 300px;
  width: 300px;
}
.max-w-300 {
  max-width: 300px;
}
.iconSize {
  height: 40px;
  width: 40px;
}
.row {
  margin: 0 !important;
}
.v-btn {
  background-color: transparent !important;
  box-shadow: none;
}
@media (min-width: 1904px){
  .container{
    width: 60%;
  }
}
</style>