<template>
  <div>
    <v-container
      fill-height
      class="noBackgroundColor d-flex align-center vh-100 justify-center containerOverview"
    >
      <h1 class="align-self-start">My Projects:</h1>

      <h2 class="align-self-end mb-1 mr-auto w-100">Difficulty | Name</h2>
      <ProjectList />

      <Navbar />
    </v-container>
  </div>
</template>

<script>
export default {
  name: "LandingPage",
  components: {
    ProjectList,
    Navbar,
  },
  computed: {
    getSignUps() {
      return this.$store.state.climberSignUps;
    },
    activeClimber() {
      return this.$store.state.climber;
    },
  },
  mounted() {
    if (this.$store.state.climber) {
      this.$store.dispatch("loadLoggedInClimber");
      this.$store.dispatch(
        "loadClimberSignUps",
        this.$store.state.climber.climberId
      );
    }
  },
};
import ProjectList from "../components/ProjectList.vue";
import Navbar from "../components/Navbar.vue";
</script>

<style scoped>
.noBackgroundColor {
  background-color: rgba(0, 0, 0, 0) !important;
}
h3 {
  text-align: start;
}
.vh-100 {
  height: 100vh;
}
.w-100{
  width: 100%;
  text-align: left;
}
@media (min-width: 1904px){
  .containerOverview{
    width: 60%;
  }
}
.row{
  overflow-y: auto;
}
</style>