<template>
  <v-container class="scroll-box">
    
      <h1>
        <router-link class="linkStyle" to="/"> Project Buddy </router-link>
      </h1>
      <h2>climb together!</h2>
      <h3>Register</h3>
    <div class="register-box">  
      <Register />
    </div>
  </v-container>
</template>

<script>
import Register from "../components/Register";

export default {
  name: "RegisterPage",
  components: { Register },
};
</script>

<style scoped>
.register-box {
  margin: auto;
  width: 350px;
  border-radius: 25px;
  background: rgba(238, 238, 238, 0.7);
}
.linkStyle {
  color: #504e4e;
  text-decoration: none;
}
.linkStyle:hover {
  color: rgb(0, 135, 0);
}
.scroll-box {
  height: 100%;
  /*overflow: auto;*/
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
}
/*
@media (min-width: 1904px){
  .container{
    width: 60%;
  }
}*/
</style>