<template>
  <v-container
    fill-height
    class="noBackgroundColor align-center justify-center"
  >
    <v-col cols="12" sm="12">
      <h1 class="align-self-start">
        {{ selectedCrag.cragName }}
      </h1>
      <v-btn class="linkBtn hover-green mx-auto">
        <router-link class="linkStyle" to="/cragOverview">
          Back to Crags
        </router-link>
      </v-btn>
    </v-col>

    <div class="search-box">
      <h3>Search Routes</h3>

      <v-col class="d-flex" cols="12" sm="12">
        <v-text-field
          type="text"
          v-model="filterRouteName"
          placeholder="filter by route name"
          outlined
          shapped
          solo
          append-icon="search"
          clearable
          @click:clear="clearFilter"
        ></v-text-field>
      </v-col>
    </div>

    <div class="scroll-box">
      <v-list
        class="mt-2 black-border"
        v-for="(route, indexRoute) in filteredRoutes"
        :key="indexRoute"
      >
        <RouteList
          :routeId="route.routeId"
          :routeName="route.routeName"
          :difficulty="route.difficulty"
          :climberId="activeClimber.climberId"
          :signUpsByCrag="signUpsByCrag"
        />
      </v-list>
    </div>

    <Navbar />
  </v-container>
</template>

<script>
import RouteList from "../components/RouteList";
import Navbar from "../components/Navbar.vue";

export default {
  name: "RouteOverview",
  components: { RouteList, Navbar },
  data: () => ({
    filterRouteName: "",
  }),
  props: {
    msg: String,
  },
  methods: {
    clearFilter() {
      this.filterRouteName = "";
    },
  },
  created() {
    this.$store.dispatch("loadLoggedInClimber");
    this.$store.dispatch(
      "loadSignUpsByCrag",
      this.$store.state.selectedCrag.cragId
    );
  },
  computed: {
    routesByCrag() {
      return this.$store.state.routesByCrag;
    },
    activeClimber() {
      return this.$store.state.climber;
    },
    signUpsByCrag() {
      return this.$store.state.signUpsByCrag;
    },
    selectedCrag() {
      return this.$store.state.selectedCrag;
    },
    filteredRoutes() {
      return this.routesByCrag.filter((route) => {
        const routeName = route.routeName.toLowerCase();
        const difficulty = route.difficulty.toLowerCase();
        const searchTerm = (this.filterRouteName || "").toLowerCase();

        return (
          routeName.includes(searchTerm) || difficulty.includes(searchTerm)
        );
      });
    },
  },
};
</script>

<style scoped>
.noBackgroundColor {
  background-color: rgba(0, 0, 0, 0) !important;
}
.search-box {
  margin: auto;
}
.scroll-box {
  width: 95%;
  height: 60%;
  /* overflow: auto; */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
}
.linkBtn {
  margin-left: 40px;
  display: flex;
  text-align: center;
}
.hover-green:hover {
  height: 40px;
  background-color: rgb(29, 232, 29) !important;
}
.linkStyle {
  color: #504e4e;
  text-decoration: none;
}
.theme--light.v-list {
  background: none !important;
}
.v-list {
  padding: 0 !important;
}
.black-border {
  border: 1px solid black !important;
}
@media (min-width: 1904px){
  .container{
    width: 60%;
  }
}
</style>