<template>
  <WeatherDesign />
</template>

<script>
import WeatherDesign from "../components/WeatherDesign.vue";
export default {
  name: "WeatherPage",
  components: {
    WeatherDesign,
  },
};
</script>

<style>
</style>