<template>
  <v-container fill-height>
    <Searchbar />
    <Welcome-page-text />
    <Navbar />
  </v-container>
</template>

<script>
import Searchbar from "../components/Searchbar.vue";
import Navbar from "../components/Navbar.vue";
import WelcomePageText from "../components/WelcomePageText.vue";

export default {
  name: "WelcomePage",
  components: { Navbar, Searchbar, WelcomePageText },
  /*data:() =>({
    climber :
  }),*/
  created() {
    this.$store.dispatch("loadLoggedInClimber");
    /*    this.climber = this.$store.state.climber;*/
  },
};
</script>

<style scoped>
@media (min-width: 1904px){
  .container{
    width: 60% !important;
  }
}
.v-menu__content[data-v-a8dcc02a]{
  top: 65px !important;
  right: 5px !important;
  max-width: 366px !important;
  left: none !important;
  transform-origin: right top !important;
}



</style>